<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ movies[movie]['name'] }}</title>

 
  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">

<!-- 
    - Bootstrap
  -->
  
  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="#top">

  <!-- 
    - #HEADER
  -->


  <header class="header" data-header>


    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="{{ url_for('haha') }}" class="logo">
        <img src="../../../static/assets/images/logo4.png" alt="MovieFetch logo">
      </a>

    </div>



  </div>
</header>

 <!-- 
    - #HEADER ENDS
  -->



  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->

      <section class="movie-detail">
        <tr>
            
        <div class="container">

          <figure class="movie-detail-banner">

            <img src="{{ movies[movie]['img'] }}" alt="movie poster" loading="lazy">

            <button class="play-btn">
              <ion-icon name=""></ion-icon>
            </button>

          </figure>

          <div class="movie-detail-content">

            <!-- <p class="detail-subtitle">New Episodes</p> -->

            <h1 class="h1 detail-title">
              <strong>{{ movies[movie]['name'] }}</strong>
            </h1>

            <div class="meta-wrapper">

              <div class="badge-wrapper">
                <div class="badge badge-fill">{{ movies[movie]['pgrank'] }}</div>

                <div class="badge badge-outline">HD</div>
              </div>

              <div class="ganre-wrapper">
                <a href="#">{{ movies[movie]['genre'] }}</a>  <!-- Put Genre -->
              </div>

              <div class="date-time">

                <div>
                  <ion-icon name="calendar-outline"></ion-icon>

                  <time datetime="2021">{{ movies[movie]['year'] }}</time>
                </div>

                <div>
                  <ion-icon name="time-outline"></ion-icon>

                  <time datetime="PT115M">{{ movies[movie]['time'] }}</time>
                </div>

              </div>

            </div>

            <p class="storyline">
              <span style="color: aliceblue;">
              {{ movies[movie]['storyline'] }}       
            </span>    
            </p>

            
            <p style="text-align: center;">
            <span style=" font-size: 26pt; color: rgb(248, 248, 248);">
            <b>
              <strong> Download Links. </strong>
            </b>
            </span>
            </p>


            <!-- 
              First Block 
            -->
            <h3 style="text-align: center; margin-top: 20px; font-size: 18pt;">
              <span style="color: aqua;">[Hindi + English]</span>
            </h3>

            <h4 style="text-align: center; margin-top: 6px; font-size: 14pt;">
              <em>
                <strong>
                  <span style="color: burlywood; ">2160p UHD 10BIT</span>
                </strong>
              </em>
            </h4>

            <h5 style="text-align: center; color: aliceblue; font-size: 12pt;">
            <a href="https://www.youtube.com">• 7.5GB SDR</a>
            </h5>

            <h5 style="text-align: center; color: aliceblue; font-size: 12pt;">
              <a href="https://www.youtube.com">• 7.5GB SDR</a>
              </h5>

            <h5 style="text-align: center; color: aliceblue; font-size: 12pt;">
                <a href="https://www.youtube.com">• 7.5GB SDR</a>
                </h5>
            <!-- 
              First Block 
            -->



            <!-- 
              Second Block 
            -->    

            <hr style="margin-top: 10px;">
              
            <h3 style="text-align: center; margin-top: 20px;">
              <span style="color: aqua;">[English]</span>
            </h3>

            <h4 style="text-align: center; margin-top: 6px; font-size: 14pt;">
              <em>
                <strong>
                  <span style="color: burlywood; ">2160p HDR 10+ 10BIT</span>
                </strong>
              </em>
            </h4>

            <h5 style="text-align: center; color: aliceblue; font-size: 12pt;">
              <a href="https://www.youtube.com">• 7.5GB SDR</a>
              </h5>
  
              <h5 style="text-align: center; color: aliceblue; font-size: 12pt;">
                <a href="https://www.youtube.com">• 7.5GB SDR</a>
                </h5>
  
              <h5 style="text-align: center; color: aliceblue; font-size: 12pt;">
                  <a href="https://www.youtube.com">• 7.5GB SDR</a>
                  </h5>


            <h4 style="text-align: center; margin-top: 6px; font-size: 14pt;">
              <em>
                <strong>
                  <span style="color: burlywood; ">2160p DOLBY 10BIT</span>
                </strong>
              </em>
            </h4>

            <h5 style="text-align: center; color: aliceblue; font-size: 12pt;">
              <a href="https://www.youtube.com">• 7.5GB SDR</a>
              </h5>
  
              <h5 style="text-align: center; color: aliceblue; font-size: 12pt;">
                <a href="https://www.youtube.com">• 7.5GB SDR</a>
                </h5>
  
              <h5 style="text-align: center; color: aliceblue; font-size: 12pt;">
                  <a href="https://www.youtube.com">• 7.5GB SDR</a>
                  </h5>

            <!-- 
              Second Block 
            -->    
            



          </div>

        </div>
        
    </tr>
      </section>

    </article>
  </main>




  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="">

        <div class="footer-brand-wrapper">

          <ul class="footer-list">

            <li>
              <a href="./index.html" class="footer-link">Home</a>
            </li>

            <li>
              <a href="{{ url_for('index') }}" class="footer-link">Movie</a>
            </li>

            <li>
              <a href="#" class="footer-link">Movies</a>
            </li>

            <li>
              <a href="#" class="footer-link">Web Series</a>
            </li>

            <li>
              <a href="#" class="footer-link">Discord</a>
            </li>

          </ul>

        </div>

        <div class="divider"></div>

        <div class="quicklink-wrapper">

          <ul class="quicklink-list">

            <li>
              <a href="#" class="quicklink-link">Faq</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Help center</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Terms of use</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Privacy</a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="https://discord.gg/yUyQGnSzQa" class="social-link">
                <ion-icon name="logo-discord"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://www.instagram.com/_.samarthhhhh._/" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 <a href="https://www.instagram.com/_.samarthhhhh._/">Samm</a> & <a href="https://www.instagram.com/shrawanisalaskar/">Shorni</a>. All Rights Reserved
        </p>

       
      </div>
    </div>

  </footer>




  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="../../assets/js/top.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>